.form-container{
    margin-top: 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 2rem;
}

.logIn-title{
    font-size: 2rem;
    font-weight: 500;
}

.input-logIn{
    width: 100%;
    text-indent: 2rem;
    background-color: var(--low-gray);
    color: var(--dark-gray);
    font-size: 1.2rem;
    padding: .7rem 0rem;
    border-radius: .7rem;
    margin-bottom: 1.2rem;
    border: none;
}

.button-logIn{
    width: 100%;
    background-color: var(--confirm);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    padding: .7rem 2rem;
    border-radius: .7rem;
    cursor: pointer;
    border: none;
}

.form-alert{
    color: var(--error);
    text-align: center;
}